<p>
    <mat-toolbar class="background text-primary navbar">
      
      <section class="d-fx cursor" routerLink="home">

        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code-circle-2" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A33ACB" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M8.5 13.5l-1.5 -1.5l1.5 -1.5" />
            <path d="M15.5 10.5l1.5 1.5l-1.5 1.5" />
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M13 9.5l-2 5.5" />
        </svg>
        <h1 class="fw-b">Angel Correa</h1>

      </section>

      <span class="example-spacer"></span>

      <section>
        <div class="example-button-row">
            <a class="fw-b navbar-link" routerLink="home" mat-button>Home</a>
            <a class="fw-b navbar-link" routerLink="projects" mat-button>Projects</a>
            <a class="fw-b navbar-link" routerLink="resume" mat-button>Resume</a>
        </div>
      </section>

      <section >


      </section>

    </mat-toolbar>
  </p>
